nav{
	background: grey;
	position: fixed;
	text-align: left;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.nav-logo{
	height: 50px;
	border-radius: 50%;
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

nav ul{
	display: inline-block;
	list-style: none;
}

nav li{
	display: inline-block;
}

nav li::after{
	content: "|";
	margin-left: 5px;
}

nav a:hover {
	color: black;
}