nav{
	background: grey;
	position: fixed;
	text-align: left;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.nav-logo{
	height: 50px;
	border-radius: 50%;
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

nav ul{
	display: inline-block;
	list-style: none;
}

nav li{
	display: inline-block;
}

nav li::after{
	content: "|";
	margin-left: 5px;
}

nav a:hover {
	color: black;
}

main {
	padding-top: 100px;
	min-width: 1000px;
}

.dotted-box {
	width: 600px;
	height: 300px;
	border: 10px dotted green;
	position: relative;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.spacecat, .spacedog{
	position: absolute;
	width: 200px;
}

.spacecat{
	left: 320px;
	top: 100px;
}

.spacedog{
	right: 320px;
	bottom: 50px;
}

html{
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
}
